<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mongo Seeds Users</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    body {
      margin: 20px;
    }

    h1 {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    div li {
      list-style-type: none;
    }
  </style>
</head>

<body>

  {{{body}}}

</body>

</html>